* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1 {
    color: cornflowerblue;
}

a {
    text-decoration: none;
}